/* global */

body {
  font-family: sans-serif;
  background: #f0f0f0 url('/assets/img/bg_debut_light.png') 0 0 repeat;
  min-width:1200px;

}
h1 {
  font-family: 'Fjalla One', sans-serif;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
  float: left;
  padding-left: 15px;
  margin-top: 66px;
}

h3{
  font-family: 'Courier New';
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* top */
header {
  padding:5px;
  overflow:hidden;
  margin-top: 25px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}
header h1 {
  float:left;
}
header h1 img {
  opacity:0.9;
}
header h1 img:hover {
  opacity:1.0;
}

/* browse */
header nav {
  color:#000;
  float:right;
  margin-top: 80px;

}

header nav ul,
header nav li,
header nav .search {
  display:inline-block;
}

header nav a:link,
header nav a:visited {
  color: black;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
}

header nav a:hover,
header nav a:active {
}

header nav a:before {
  content:'[ ';
  color:transparent;
}
header nav a:after {
  content:' ]';
  color:transparent;
}


header nav a:hover:before {
  color:black;
}
header nav a:hover:after {
  color:black;
}
header nav li:last-child a:before{
  content:'';
}
header nav li:last-child a:after {
  content: '+';
  font-family: verdana;
  font-size: 18px;
  color: #942521;
  font-weight: bold;
}


header nav .q {
  background: #fff url('/assets/img/icon_search.png') 100% 0 no-repeat;
  border:1px solid #BBBDC0;
}



/* voting */

#battle {
  overflow:hidden;
  text-align: center;
}
#battle article {
  vertical-align:top;
  display:inline-block;
  width:550px;
  margin:0 30px;
  position:relative;
  overflow:visible;
}

#battle article:nth-child(2):after {
  content:'vs';
  position:absolute;
  top:0;
  right:-63px;
  display: block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  line-height:350px;
  width: 60px;
}

#battle article:hover .actions {
  display:block;
}


#battle ul.actions {
  display:none;
  list-style-type: none;
}
#battle ul,
#battle li {
  display:inline-block;
}

#battle .vote {
  margin-bottom: 10px;
}
#battle .vote button {
  display:inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 12px !important;
  background: -moz-linear-gradient(
         top,
         #e53639 0%,
         #c6302b 61%,
         #701b1b);
  background: -webkit-gradient(
         linear, left top, left bottom, 
         from(#e53639),
         color-stop(0.61, #c6302b),
         to(#701b1b));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  -moz-box-shadow:
         3px 2px 7px rgba(61,61,61,0.5),
         inset 0px 0px 1px rgba(255,255,255,1);
  -webkit-box-shadow:
         3px 2px 7px rgba(61,61,61,0.5),
         inset 0px 0px 1px rgba(255,255,255,1);
  box-shadow:
         3px 2px 7px rgba(61,61,61,0.5),
         inset 0px 0px 1px rgba(255,255,255,1);
  text-shadow:
         1px 1px 0px rgba(000,000,000,0.7),
         0px 1px 0px rgba(255,255,255,0.3);
}


#battle .vote button:hover{
  background: -moz-linear-gradient(
   top,
   #751e1f 0%,
   #c6302b 61%,
   #701b1b);
  background: -webkit-gradient(
   linear, left top, left bottom, 
   from(#751e1f),
   color-stop(0.61, #c6302b),
   to(#701b1b));
}


#battle .vote button:active{
  background: -moz-linear-gradient(
   top,
   #571718 0%,
   #c6302b 61%,
   #4a1212);
  background: -webkit-gradient(
   linear, left top, left bottom, 
   from(#571718),
   color-stop(0.61, #c6302b),
   to(#4a1212));
}

#battle .actions a{
  text-decoration: none;
}

#battle .actions .twitter i {
  color: #23C4F3;
}

#battle .actions .facebook i {
  color: #3B5998;
}

#battle .actions .flag i {
  color: #EF4036;
}

#battle .actions .fave i {
  color: #EC008B;
}

#battle .actions .link i {
  color: #58585B;
}

/* lists */

/* footer */
footer {
  position:fixed;
  bottom:0;
  padding:10px;
  width:100%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: center;
  content: '+';
  font-family: verdana;
  font-size: 20px;
  color: #942521;
}